.logo{
    height: 50px;
    width: 30px;
}
.navbar-brand{
    font-size: larger;
}
.nav-item{
    font-size: large;
}
.topHeader{
    color: red;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}
.btnAdd{
    position: absolute;
    margin-left: 80%;
    margin-top: 1%;
}

.dashData{
  font-weight: bold;
  font-size: 50px;
}
.box1{
    background-color: #342ead;
}
.box2{
    background-color: #ea6227;
}
.box3{
    background-color: #f2a51a;
}
.box4{
    background-color: #b9ebcc;
}
.box5{
    background-color: #efa8e4;
}
.box6{
    background-color: #f8e1f4;
}
.box7{
    background-color: #97e5ef;
}
.box8{
    background-color: #fff0f5;
}
.box9{
    background-color: #b2ebf2;
}
ul{
    text-decoration: none;
}
.perspective{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
      background: var(--mainWhite);
}
.searchInput{
    padding: 6px 20px;
    margin: 6px 0;
    
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  .searchInput:focus{
    border: 3px solid #555;
  }
  .emp_button{
    border-radius: 50px  0px 0px 50px;
  }
  .emp_input{
    padding: 3px 20px;
    
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 8%;
    border-radius: 0px  50px 50px 0px;
  }
  .emp_input:focus{
    border: 3px solid #555;
  }